@model Client_QuanLythueTro.Models.TinDang

@{
    ViewData["Title"] = "CreateTinDang";
    Layout = "~/Views/NVKD/LayoutNVKD/LayoutNVKD.cshtml";
    ViewBag.post = "active";
    ViewBag.Name = "Đăng tin";
}

<div class="container">
        <div class="col-md-12">
            <div class="tile" id="printMe">
                <h4 style="text-align:center">TIN MỚI</h4>
                <form asp-action="CreateTinDang">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.idTinDang)
                    @Html.HiddenFor(model => model.ngayBatDau)
                    @Html.HiddenFor(model => model.ngayKetThuc)
                    @Html.HiddenFor(model => model.ngayTaoTin)
                    @Html.HiddenFor(model => model.idDichVu)
                    @Html.HiddenFor(model => model.trangThaiTinDang)
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group col-sm-12">
                        <b>Tiêu đề</b>
                        <input asp-for="tieuDe" class="form-control" required />
                        <span asp-validation-for="tieuDe" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <b>Người liên hệ</b>
                        <input asp-for="nguoiLienHe" class="form-control" required />
                        <span asp-validation-for="nguoiLienHe" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <b>
                            SĐT liên hệ
                           
                        </b>
                        <input asp-for="sdtNguoiLienHe" class="form-control" required />
                        <span asp-validation-for="sdtNguoiLienHe" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group col-sm-4">
                        <b>Loại tin</b>
                        <select class="form-control" asp-for="loaiTin" required>
                            <option selected="selected">Cho thuê</option>
                            <option selected="selected">Tìm người ở ghép</option>

                        </select>
                        @*<input asp-for="loaiTin" class="form-control" required />*@
                        <span asp-validation-for="loaiTin" class="text-danger"></span>
                    </div>
                  
                   
                    <div class="form-group col-sm-4">
                       <b>Đối tượng cho thuê</b>
                        <input asp-for="doiTuongChoThue" class="form-control" required />
                        <span asp-validation-for="doiTuongChoThue" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-4">
                       <b>Số lượng phòng</b>
                        <input asp-for="soLuongPhong" class="form-control" required />
                        <span asp-validation-for="soLuongPhong" class="text-danger"></span>
                    </div>
                  
                    <div class="form-group col-sm-6" >
                        <b>Khu vực</b>
                        <input asp-for="idKhuVuc" class="form-control" required />
                        <span asp-validation-for="idKhuVuc" class="text-danger"></span>
                    </div>
                   
                    <div class="form-group col-sm-6">
                        <b>Địa chỉ cụ thể</b>
                        <input asp-for="diaChi" class="form-control" required />
                        <span asp-validation-for="diaChi" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <b>Giá phòng (/tháng)</b>
                        <input asp-for="giaPhong" class="form-control" required type="number" />
                        <span asp-validation-for="giaPhong" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <b>Diện tích</b>
                        <input asp-for="dienTich" class="form-control" required type="number" />
                        <span asp-validation-for="dienTich" class="text-danger"></span>
                    </div>
                   
                    
                    <div class="form-group col-sm-4">
                        <b>Tiền điện</b>
                        <input asp-for="tienDien" class="form-control" required min="0" type="number" />
                        <span asp-validation-for="tienDien" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <b>Tiền nước</b>
                        <input asp-for="tienNuoc" class="form-control" required min="0" type="number" />
                        <span asp-validation-for="tienNuoc" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <b>Tiền dịch vụ</b>
                        <input asp-for="tienDichVu" class="form-control" required min="0" type="number" />
                        <span asp-validation-for="tienDichVu" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-12">
                        <b>Mô tả</b>
                        <input asp-for="moTa" class="form-control" />
                        <span asp-validation-for="moTa" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Thêm" class="btn btn-primary" />
                    </div>

                    
                </form>

            <div>
                <a asp-action="QuanLyTinDang">Back to List</a>
            </div>
            </div>
        </div>
    </div>





