@model Client_QuanLythueTro.Models.TinDang

@{
    ViewData["Title"] = "DetailTinDang";
    Layout = "~/Views/NVKD/LayoutNVKD/LayoutNVKD.cshtml";
    ViewBag.post = "active";
    ViewBag.Name = "Chi tiết";
}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <h3 style="text-align:center">THÔNG TIN TIN ĐĂNG -  @Html.DisplayFor(model => model.idTinDang)</h3>
                <p>
                    <strong>Tiêu đề:</strong>  @Html.DisplayFor(model => model.tieuDe);
                </p>
                <p>
                    <strong>Trạng thái:</strong>
                    @if(Model.trangThaiTinDang)
                    {
                        <p>Đã duyệt</p>
                    }
                    else
                    {
                        <p>Chưa duyệt</p>
                        }
                </p>
                <p>
                    <strong>Loại tin:</strong>
                    @Html.DisplayFor(model => model.loaiTin) -  @Html.DisplayFor(model => model.idDichVu)
                </p>
                <p>
                    <strong>Địa chỉ:</strong>
                    @Html.DisplayFor(model => model.diaChi) -  @Html.DisplayFor(model => model.idKhuVuc)
                </p>
                <p>
                    <strong>Thông tin liên hệ:</strong>
                    @Html.DisplayFor(model => model.nguoiLienHe)-  @Html.DisplayFor(model => model.sdtNguoiLienHe)
                </p>
                <p>
                    <strong>Đối tượng cho thuê:</strong>
                    @Html.DisplayFor(model => model.doiTuongChoThue)
                </p>
                <p>
                    <strong>Số lượng:</strong>
                    @Html.DisplayFor(model => model.soLuongPhong)
                </p>
                <div class="row">
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="" role="grid" aria-describedby="sampleTable_info">
                            @*//Phần render từng dòng trong C#*@
                            <thead>
                                <tr role="row" style="text-align:center">
                                    <th class="sorting" tabindex="0" aria-controls="sampleTable">Tiền phòng</th>
                                    <th class="sorting" tabindex="0" aria-controls="sampleTable">Tiền nước</th>
                                    <th class="sorting" tabindex="0" aria-controls="sampleTable">Tiền điện</th>
                                    <th class="sorting" tabindex="0" aria-controls="sampleTable">Tiền dịch vu</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>
                                        @Html.DisplayFor(model => model.giaPhong)
                                        </td>

                                        <td>
                                        @Html.DisplayFor(model => model.tienNuoc)
                                        </td>
                                        
                                        <td>
                                        @Html.DisplayFor(model => model.tienDien)
                                        </td>
                                        <td>
                                        @Html.DisplayFor(model => model.tienDichVu)
                                        </td>

                                    </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class=" element-button">
    <a class="btn btn-delete btn-sm print-file" title="In" onclick="myApp.printTable()">
        <i class="fas fa-print"></i> In dữ liệu
    </a>
</div>
<script>

    var myApp = new function () {
        this.printTable = function (tableId) {
            var tab = document.getElementById(tableId);
            var win = window.open('', '', 'height=800px,width=1200px');
            win.document.write(tab.outerHTML);
            win.document.close();
            win.print();
        }
    }
    
</script>
