@model Client_QuanLythueTro.Models.TinDang
@using Client_QuanLythueTro.APIGateWay;
@{
    ViewData["Title"] = "Thông tin";
    Layout = "~/Views/NVKD/LayoutNVKD/LayoutNVKD.cshtml";
    ViewBag.post = "active";
    ViewBag.Name = "Cập nhật thông tin";
    TinDang_PhongTro_GateWay callTinDangPT = new TinDang_PhongTro_GateWay();
    List<string> imgList = callTinDangPT.ListImages(Model.idTinDang);
}
<link href="~/css/uploadimg.css" rel="stylesheet" />
@{
    var checkMessage = TempData["AlertMessage"];
    if (checkMessage == "thanhcong")
    {
        <script>
            swal("Yêu cầu thành công", "Đã cập nhật thành công !!! ", "success")
        </script>

    }
}
<div class="container">
    <div class="col-md-12">
        <div class="tile" id="printMe">
            <h4 style="text-align:center">TIN ĐĂNG</h4>
            <form asp-action="EditTin">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(model => model.idTinDang)
                @Html.HiddenFor(model => model.ngayBatDau)
                @Html.HiddenFor(model => model.ngayKetThuc)
                @Html.HiddenFor(model => model.ngayTaoTin)
                @Html.HiddenFor(model => model.trangThaiTinDang)
                <div class="row">
                    <div class="form-group col-sm-12">
                        <b>Tiêu đề</b>
                        <input asp-for="tieuDe" class="form-control" required />
                        <span asp-validation-for="tieuDe" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-12">
                        <b>Loại tin</b>
                        <input asp-for="loaiTin" class="form-control" required />
                        <span asp-validation-for="loaiTin" class="text-danger"></span>
                    </div>
                    <h4 class="col-sm-12">THÔNG TIN LIÊN HỆ</h4>
                    <hr />
                    <div class="form-group col-sm-6">
                        <b>Người liên hệ</b>
                        <input asp-for="nguoiLienHe" class="form-control" required />
                        <span asp-validation-for="nguoiLienHe" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <b>SĐT liên hệ</b>
                        <input asp-for="sdtNguoiLienHe" class="form-control" required />
                        <span asp-validation-for="sdtNguoiLienHe" class="text-danger"></span>
                    </div>
                    <h4 class="col-sm-12">THÔNG TIN ĐĂNG TIN</h4>
                    <hr />
                    <div class="form-group col-sm-12">
                        <b>Đối tượng cho thuê</b>
                        <input asp-for="doiTuongChoThue" class="form-control" required />
                        <span asp-validation-for="doiTuongChoThue" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <b>Trạng thái</b>
                        @{
                            string status;
                            if (Model.trangThaiTinDang)
                            {
                                status = "Đã duyệt";
                            }
                            else
                            {
                                status = "Chưa duyệt";
                            }

                        }
                        <input class="form-control" value="@status" readonly />

                    </div>
                    <div class="form-group col-sm-6">
                        <b>Ngày tạo</b>
                        <input value="@Model.ngayTaoTin" readonly class="form-control" />

                    </div>
                    <div class="form-group col-sm-6">
                        <b>Ngày bắt đầu đăng</b>
                        <input value="@Model.ngayBatDau" readonly class="form-control" />

                    </div>
                    <div class="form-group col-sm-6">
                        <b>Hạn kết thúc</b>
                        <input value="@Model.ngayKetThuc" readonly class="form-control" />
                    </div>
                    <h4 class="col-sm-12">THÔNG TIN PHÒNG</h4>
                    <hr />
                    <div class="form-group col-sm-6">
                        <b>Địa chỉ</b>
                        <input asp-for="diaChi" class="form-control" required />
                        <span asp-validation-for="diaChi" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <b>Số lượng phòng</b>
                        <input asp-for="soLuongPhong" class="form-control" type="number" min="1" required />
                        <span asp-validation-for="soLuongPhong" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <b>Dịch vụ</b>
                        <input asp-for="idDichVu" class="form-control" readonly />
                        <span asp-validation-for="idDichVu" class="text-danger"></span>
                    </div>

                    <div class="form-group col-sm-6">
                        <b>Giá thuê</b>
                        <input asp-for="giaPhong" class="form-control" type="number" min="1" required />
                        <span asp-validation-for="giaPhong" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <b>Diện tích</b>
                        <input asp-for="dienTich" class="form-control" required min="1" />
                        <span asp-validation-for="dienTich" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <b>Tiền điện</b>
                        <input asp-for="tienDien" class="form-control" type="number" min="1" required />
                        <span asp-validation-for="tienDien" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <b>Tiền nước</b>
                        <input asp-for="tienNuoc" class="form-control" type="number" min="1" required />
                        <span asp-validation-for="tienNuoc" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <b>Tiền dịch vụ</b>
                        <input asp-for="tienDichVu" class="form-control" type="number" min="1" required />
                        <span asp-validation-for="tienDichVu" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-12">
                        <b>Mô tả</b>
                        @*<input asp-for="moTa" class="form-control" />*@
                        <textarea asp-for="moTa" class="form-control" rows="9" cols="70" required></textarea>
                        <span asp-validation-for="moTa" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-12">
                        <input type="submit" value="Cập nhật thông tin" class="btn-success btn-sm" />
                    </div>
                </div>
            </form>
            <div class="form-group col-sm-12">
                <h3 style="padding:10px 0">Hình ảnh phòng</h3>
                <a class="btn btn-outline-dark btn-sm" style="margin:10px 0" data-bs-toggle="modal" data-bs-target="#MoreImage" data-bs-toggle="tooltip" title="Delete">
                    Thêm hình
                </a>
                <div class="modal fade" id="MoreImage" tabindex="-1" aria-labelledby="MoreImage" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Xác nhận</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group col-sm-12">
                                    <h3>Chọn hình</h3>
                                    <div id="imageUploadForm">
                                        <div class="input-div">
                                            <input type="file" class="listimg" id="listimg" name="listimg" multiple accept="image/png, image/jpeg, image/jpg">
                                        </div>
                                        <div id="saved-form">
                                            <div class="saved-div"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success" onclick="ClickUpdateImage(`@Model.idTinDang`)">Thêm mới</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="demo" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        @for (int i = 0; i < imgList.Count; i++)
                        {
                            string act = "";
                            if (i == 0) act = "active";
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="@i" class="@act"></button>
                        }
                        @*                        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                        *@
                    </div>

                    <div class="carousel-inner" style="height:350px; width:100%;">
                        @for (int i = 0; i < imgList.Count; i++)
                        {
                            string act = "";
                            if (i == 0) act = "active";
                            <div class="carousel-item @act" style="width:100%; height:100%; text-align:center; background-color:black;">
                                <img src="@imgList[i]" alt="Los Angeles" class="d-block" style="height:100%; object-fit: cover; margin:auto;" onclick="">

                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>

            </div>
            <hr />
        </div>
    </div>
    <div class="row" style="padding:10px;">
        <div class="col-sm-2">
            <a asp-action="QuanLyTinDang" class=" btn btn-warning btn-sm">Back to List</a>
        </div>
        @if (Model.trangThaiTinDang)
        {
            <div class="col-sm-2">
                <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#Huy" data-bs-toggle="tooltip" title="Hủy">
                    Hủy
                </a>
            </div>
        }
        else
        {
            <div class="col-sm-2">
                <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#Duyet" data-bs-toggle="tooltip" title="Duyệt">
                    Duyệt tin
                </a>
            </div>
        }
    </div>
</div>

<input value="@Model.idTinDang" id="idTin" style="visibility:hidden" />
<div class="modal fade" id="Duyet" tabindex="-1" aria-labelledby="Duyet" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Duyệt tin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Xác nhận duyêt tin - @Model.idTinDang
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" onclick="DuyetTin()">Duyệt</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Huy" tabindex="-1" aria-labelledby="Huy" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Hủy duyệt</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Xác nhận hủy duyêt tin - @Model.idTinDang
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" onclick="HuyDuyetTin()">Hủy duyệt</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="MoreImage" tabindex="-1" aria-labelledby="MoreImage" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group col-sm-12">
                    <h3>Chọn hình</h3>
                    <div id="imageUploadForm">
                        <div class="input-div">
                            <input type="file" class="listimg" id="listimg" name="listimg" multiple accept="image/png, image/jpeg, image/jpg">
                        </div>
                        <div id="saved-form">
                            <div class="saved-div"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" onclick="ClickUpdateImage(`@Model.idTinDang`)">Thêm mới</button>
            </div>
        </div>
    </div>
</div>


<input value="@ViewBag.id" id="idTin" style="visibility:hidden" />
<script src="~/js/uploadmultiimg.js"></script>
<script>
    let listImg = [];
    let displayDiv = document.querySelector(".queued-div");
    var id = document.getElementById("idTin").value;

    function getDisplayListImg() {
        var url = 'https://localhost:7034/api/Images/GetListByIdTin?id=' + id;
        fetch(url)
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                console.log(data);
                listImg = data;
                display();
            })
            .catch(function (error) {
                console.log("Error: " + error);
            });
    }

    function GetSrcImg(id) {
        var url = "https://localhost:7034/api/Images/GetImageDisplay?id=" + id;
        console.log(url);
        return fetch(url)
            .then(function (response) {
                return response.blob();
            })
            .then(function (data) {
                console.log(data);
                var imgURL = URL.createObjectURL(data);
                return imgURL;
            })
            .catch(function (error) {
                console.log("Error: " + error);
            });
    }

    function display() {
        let images = "";
        console.log(listImg.length);
        for (var i = 0; i < listImg.length; i++) {
            var idImg = listImg[i].idImage;
            GetSrcImg(idImg)
                .then(function (imgURL) {
                    images += `
                                <div class="image">
                                    <img src="${imgURL}" alt="image">
                                        <span onclick="deleteImages(${idImg})">&times;</span>
                                </div>`

                    displayDiv.innerHTML = images;

                });
        }
    }
    getDisplayListImg();


    function deleteImages(idImg) {

        if (confirm("Xóa hình") == true) {
            var url = "https://localhost:7034/api/images/" + idImg;
            fetch(url, {
                method: 'delete'
            })
                .then(function (response) {
                    if (!response.ok) {
                        throw new error("loi");
                    }
                    alert("xóa thành công");
                    listImg.splice(idImg, 1)
                    display()
                })
                .catch(function (error) {
                    console.log("error: " + error);
                });
        }

    }

    function DuyetTin() {
        var url = "https://localhost:7034/api/TinDang/DuyetTin?id=" + id;
        fetch(url, {
            method: "PUT"
        })
            .then(function (response) {
                return response.blob();
            })
            .then(function (data) {
                swal("Yêu cầu thành công", "Đã duyệt thành công !!! ", "success")
                    .then((value) => {
                        location.reload();
                    });
            })
            .catch(function (error) {
                console.log("Error: " + error);
                alert("loi")
            });
    }
    function HuyDuyetTin() {
        var url = "https://localhost:7034/api/TinDang/HuyDuyetTin?id=" + id;
        fetch(url, {
            method: "PUT"
        })
            .then(function (response) {
                return response.blob();
            })
            .then(function (data) {
                 swal("Yêu cầu thành công", "Đã huy tin thành công !!! ", "success")
                .then((value) => {
                    location.reload();
                });
            })
            .catch(function (error) {
                console.log("Error: " + error);
                alert("loi")
            });
    }

    async function ClickUpdateImage(id) {
        const formData = new FormData();
        const imageFiles = document.getElementById("listimg").files;
        for (let i = 0; i < imageFiles.length; i++) {
            formData.append("files", imageFiles[i]);
        }
        var url = "https://localhost:7034/api/TinDangPhongTro/AddImages/" + id;

        swal({
            title: "Đang xử lý yêu cầu",
            text: "Vui lòng đợi trong khi chúng tôi xử lý yêu cầu của bạn...",
            button: false
        });

        const response = await fetch(url, {
            method: "POST",
            body: formData
        });

        if (response.ok) {
            console.log("oke");
            swal("Yêu cầu thành công", "Đã thêm tin thành công !!! ", "success")
                .then((value) => {
                    location.reload();
                });
        } else {
            console.error("Lỗi:", response.status);
        }
    }


</script>
