@model IEnumerable<Client_QuanLythueTro.Models.TinDang>

@{
    ViewData["Title"] = "QuanLyTinDang";
    Layout = "~/Views/NVKD/LayoutNVKD/LayoutNVKD.cshtml";
    ViewBag.post = "active";
    ViewBag.Name = "Quản lý tin đăng";
}
<div class="tab-content">
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="row" style="padding:10px;">
                        <p>
                            <a asp-action="CreateTinDang" class="btn btn-success btn-sm">Thêm mới</a>
                        </p>@*
                        <div class="col-sm-2">
                            <a class="btn btn-outline-dark btn-sm" title="In" onclick="printDiv('printMe')">
                                <i class="fas fa-print"></i> In dữ liệu
                            </a>
                        </div>*@
                        <div class="col-sm-4">
                            @using (Html.BeginForm("QuanLyTinDang", "NVKD", FormMethod.Post, new { @class = "" }))
                            {
                                <div class="row">

                                    <div class="col-sm-2">
                                        @Html.DropDownList("thangs", (IEnumerable<SelectListItem>)TempData["thangs"], htmlAttributes: new { @class = "form-control-sm" })
                                    </div>
                                    <div class="col-sm-2">
                                        @Html.DropDownList("tinhTrang", (IEnumerable<SelectListItem>)TempData["tinhTrang"], htmlAttributes: new { @class = "form-control-sm", })
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="submit" class="btn btn-success btn-sm" value="Tìm kiếm">
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                @*//Phần render từng dòng trong C#*@
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable">Mã</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable">Tiêu đề</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable">Loại</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable">Thông tin liên hệ</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable">Khu vực</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable">Status</th>>
                                            <th class="sorting">Chức năng</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.idTinDang)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tieuDe)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.loaiTin)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.sdtNguoiLienHe)
                                                    @Html.DisplayFor(modelItem => item.nguoiLienHe)
                                                </td>
                                                
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.idKhuVuc)
                                                </td>
                                                @if (item.trangThaiTinDang)
                                                {
                                                    <td>
                                                        Đã duyệt
                                                    </td>
                                                }
                                                else
                                                {

                                                    <td>
                                                        Chưa duyệt
                                                    </td>
                                                }
                                                
                                                <td>
                                                    <a href="/NVKD/EditTin/@item.idTinDang" class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a href="/NVKD/DetailTinDang/@item.idTinDang" class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="">
                                                        <i class="fas fa-info-circle"></i>
                                                    </a>
                                                    <a class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="Delete" data-target="#DeleteModal-@item.idTinDang" data-toggle="modal">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                    <form asp-controller="NVKD" asp-action="DeleteTin" asp-route-id="@item.idTinDang" method="post">
                                                        <div class="modal" tabindex="-1" role="dialog" style="padding:100px 350px;margin:50px;text-align:center" id="DeleteModal-@item.idTinDang">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    
                                                                    <div class="modal-body">
                                                                    <h5 class="modal-title">Delete Confirmation @item.idTinDang</h5>
                                                                        <p style="text-align:center">Xác nhận xóa tin?</p>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                           
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    //In dữ liệu
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;

    }


</script>





