@model IEnumerable<Client_QuanLythueTro.Models.LoaiTaiKhoan>

@{
    ViewData["Title"] = "QuanLyTaiKhoanDV";
    Layout = "~/Views/NVKD/LayoutNVKD/LayoutNVKD.cshtml";
    ViewBag.services = "active";
    ViewBag.Name = "Quản lý dịch vụ";
}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link " href="/NVKD/QuanLyDichVu">
            <h4 class="btn btn-outline-info">Gói tin dịch</h4>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="QuanLyTaiKhoanDV">
            <h5 class="btn btn-outline-success">Tài khoản</h5>
        </a>
    </li>

</ul>
<div class="tab-content">
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h2 class="tile-title">DANH SÁCH TÀI KHOẢN DỊCH VỤ</h2>
                <div class="tile-body">
                    <div class="row element-button" style="padding:10px">
                        <div class="col-md-12 col-sm-12">
                            <a asp-action="CreateTK" class="btn btn-success">
                                Thêm mới
                            </a>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="sampleTable1" role="grid" aria-describedby="sampleTable_info">
                                @*//Phần render từng dòng trong C#*@
                                <thead style="background-color: #ffd43b;">
                                    <tr>

                                        <th aria-controls="sampleTable" rowspan="1" colspan="1">Mã</th>
                                        <th aria-controls="sampleTable" rowspan="1" colspan="1">Loại</th>
                                        <th aria-controls="sampleTable" rowspan="1" colspan="1">Giá</th>
                                        <th aria-controls="sampleTable" rowspan="1" colspan="1">Hạn sử dụng</th>
                                        <th aria-controls="sampleTable" rowspan="1" colspan="1">Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count() == 0)
                                    {
                                        <tr>
                                            <td colspan="8" class="text-center"> Không có dữ liệu </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var item in Model)
                                        {

                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.idLoaiTK)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tenLoaiTK)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.giaTK)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.hanDung)
                                                </td>
                                                <td style="text-align:center">
                                                    <a asp-action="EditTK" asp-route-id="@item.idLoaiTK" class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="Edit">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="Delete" data-target="#DeleteModal-@item.idLoaiTK" data-toggle="modal">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                    <form asp-controller="NVKD" asp-action="DeleteTK" asp-route-id="@item.idLoaiTK" method="post">
                                                        <div class="modal" tabindex="-1" role="dialog" style="padding:100px 350px;margin:50px;text-align:center" id="DeleteModal-@item.idLoaiTK">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Delete Confirmation @item.idLoaiTK</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <p style="text-align:center">Xác nhận xóa tài khoản dịch vụ?</p>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>


                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
            </div>

                        </div>

    </div>
</div>

