@model IEnumerable<Client_QuanLythueTro.Models.DichVuDangTin>
@{
    ViewData["Title"] = "QuanLyDichVu";
    Layout = "~/Views/NVKD/LayoutNVKD/LayoutNVKD.cshtml";
    ViewBag.services = "active";
    ViewBag.Name = "Quản lý dịch vụ";
}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">
            <h4 class="btn btn-outline-info">Gói tin dịch</h4></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1">
            <h5 class="btn btn-outline-success">Tài khoản</h5></a>
    </li>
    
</ul>
<div class="tab-content">
    <div id="home" class="tab-pane active">
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <h2 class="tile-title">DANH SÁCH GÓI DICH VỤ</h2>
                    <div class="tile-body">
                        <div class="row element-button" style="padding:10px">
                            <div class="col-md-12 col-sm-12">
                                <a asp-action="CreateGoiTinDichVu" class="btn btn-success">
                                    Thêm mới
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                    @*//Phần render từng dòng trong C#*@
                                    <thead style="background-color: #ffd43b;">
                                        <tr>
                                            <th aria-controls="sampleTable" rowspan="1" colspan="1">Mã</th>
                                            <th aria-controls="sampleTable" rowspan="1" colspan="1">Loại gói tin</th>
                                            <th aria-controls="sampleTable" rowspan="1" colspan="1">Giá</th>
                                            <th aria-controls="sampleTable" rowspan="1" colspan="1">Hạn</th>
                                            <th aria-controls="sampleTable" rowspan="1" colspan="1">Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Count() == 0)
                                        {
                                            <tr>
                                                <td colspan="9" class="text-center"> Không có dữ liệu </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.idDichVu)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.loaiDichVu)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.giaCa) 
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.hanDangTin)
                                                       
                                                    </td>
                                                    <td style="text-align:center">
                                                        <a href="/NVKD/" class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="Edit">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                        <a href="" class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="Detail">
                                                            <i class="fas fa-train"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <h2 class="tile-title">DANH SÁCH TÀI KHOẢN DỊCH VỤ</h2>
                    <div class="tile-body">
                        <div class="row element-button" style="padding:10px">
                            <div class="col-md-12 col-sm-12">
                                <h5 class="text-secondary">Đây là danh sách </h5>
                                <a class="btn btn-success btn-sm " type="button" title="CreateTour" href="/Tourmanager/CreateTours">
                                    Tạo tour mới
                                </a>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="sampleTable1" role="grid" aria-describedby="sampleTable_info">
                                    @*//Phần render từng dòng trong C#*@
                                    <thead style="background-color: #ffd43b;">
                                        <tr>

                                            <th aria-controls="sampleTable" rowspan="1" colspan="1">Mã tour</th>
                                            <th aria-controls="sampleTable" rowspan="1" colspan="1">Loại tour</th>
                                            <th aria-controls="sampleTable" rowspan="1" colspan="1">Tên tour</th>
                                            <th aria-controls="sampleTable" rowspan="1" colspan="1" width="200px">Thông tin khởi hành</th>
                                            <th aria-controls="sampleTable" rowspan="1" colspan="1">Số chỗ trống</th>
                                            <th aria-controls="sampleTable" rowspan="1" colspan="1">Hạn chót</th>
                                            <th aria-controls="sampleTable" rowspan="1" colspan="1">Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       @* @if (Model.Count() == 0)
                                        {
                                            <tr>
                                                <td colspan="8" class="text-center"> Không có dữ liệu </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var item in Model)
                                            {
                                                var homnay = DateTime.Now;
                                                TimeSpan han = ((DateTime)item.HanChotDatVe).Subtract(homnay);
                                                if (han.Days > 0 && han.Days <= 10 && item.SoChoNull > 10)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.MaTour)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.LoaiTour.TenLTour)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TenTour)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.NgayKhoihanh)
                                                            <p>Địa điểm: @Html.DisplayFor(modelItem => item.NoiKhoiHanh)</p>
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.SoChoNull)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.HanChotDatVe)
                                                            <p>Số ngày còn lại: @han.Days</p>
                                                        </td>
                                                        <td style="text-align:center">
                                                            <a href="/Tourmanager/EditTour/@item.MaTour" class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="Edit">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                            <a href="/Tourmanager/TourDetails/@item.MaTour" class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="Detail">
                                                                <i class="fas fa-train"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }

                                            }
                                        }*@
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

                </div>
          
