@model Client_QuanLythueTro.Models.Users

@{
    ViewData["Title"] = "DetailUsers";
    Layout = "~/Views/Admin/LayoutAdmin.cshtml";

}
<div class="row">
<div class="col-md-12">
    <div class="tile">
        <div class="tile-body" id="tile-body">
            <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                <h1 style="text-align: center; color: rgb(0, 28, 64);">
                    THÔNG TIN NHÂN VIÊN
                </h1>
                <div class="staffinfo row">
                   @* <div class="staff-img col-md-4">
                        @{
                            var img = Model.HinhDaiDien;
                            if (img == null)
                            {
                                <img src="~/Content/Images/account.png" class="rounded-circle" alt="Cinque Terre" width="250" height="250" style="margin-top: 20px;">
                            }
                            else
                            {
                                <img src="@Model.HinhDaiDien" class="rounded-circle" alt="Cinque Terre" width="250" height="250" style="margin-top: 20px;">
                            }
                        }
                    </div>*@
                    <div class="staff-content col-md-8">
                        <p>
                            <h4 style="display: flex;">@Html.DisplayFor(modelItem => Model.hoTen)</h4>
                            <div>
                                <span>
                                    <strong>Mã nhân viên: </strong> @Html.DisplayFor(modelItem => Model.idUser)
                                </span>
                                <span>
                                    @Html.DisplayFor(modelItem => Model.idChucVu)
                                </span>
                            </div>
                        </p>
                        <p>
                            <span>
                                <strong>Giới tính:</strong> @Html.DisplayFor(modelItem => Model.gioiTinh)
                            </span>
                        </p>
                        <p>
                            <span>
                                <strong>Tên đăng nhập:</strong> @Html.DisplayFor(modelItem => Model.userName)
                            </span>
                        </p>
                        <p>
                            <span>
                                <strong>Số điện thoại:</strong> @Html.DisplayFor(modelItem => Model.sdtUsers)
                            </span>
                            <span>
                                <strong>Email: </strong> @Html.DisplayFor(modelItem => Model.emailUser)
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row element-button" style="padding-left:10px; border: 0px;">
        <div class="col-sm-2">
            <a class="btn btn-danger btn-sm" ata-toggle="tooltip" title="Delete" data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-trash"></i>
                Xóa nhân viên
            </a>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-delete btn-sm print-file" title="In" onclick="myApp.printTable()">
                <i class="fas fa-print"></i> In dữ liệu
            </a>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-warning btn-sm " type="button" title="Back" asp-action="QuanLyNhanVien">
                Quay lại danh sách
            </a>
        </div>
    </div>
</div>
</div>

<!-- Modal -->
<form asp-controller="Admin" asp-action="DeleteUsers" asp-route-id="@Model.idUser" method="post">
    <div class="modal fade" style="padding:100px 350px;margin:50px;text-align:center" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class=modal-header>Xóa nhân viên?</div>
            <div class="modal-body">
                <p style="text-align:center;padding:20px 0px;">
                    Bạn có chắc xóa nhân viên ?!!
                </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" data-dismiss="modal">Đóng</a>
                <button class="btn btn-danger" type="submit" >Xóa</button>
            </div>
        </div>
    </div>
</div>
</form>
<script>
    //In dữ liệu
    var myApp = new function () {
        this.printTable = function () {
            var tab = document.getElementById('tile-body');
            var win = window.open('', '', 'height=800px,width=1200px');
            win.document.write(tab.outerHTML);
            win.document.close();
            win.print();
        }
    }
    oTable = $('#sampleTable').dataTable();
    $('#all').click(function (e) {
        $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
        e.stopImmediatePropagation();
    });
</script>
<h1>DetailUsers</h1>

