@model Client_QuanLythueTro.Models.Users

@{
    ViewData["Title"] = "DetailUsers";
    Layout = "~/Views/Admin/LayoutAdmin.cshtml";

}

<h1>DetailUsers</h1>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hoTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hoTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emailUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emailUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sdtUsers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sdtUsers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngayThamGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngayThamGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.passwordUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.passwordUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idChucVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idChucVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idLoaiTK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idLoaiTK)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
