
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/css/mainlayout.css" rel="stylesheet" />
</head>
<body onload="time()" class="app sidebar-mini rtl">
    <header class="app-header">
        <div class="app-nav">
            <div class="user-wrapper">
                @if (!string.IsNullOrEmpty(ViewBag.UserImageUrl))
                {
                    <img src="@Url.Content("~/img/@ViewBag.UserImageUrl")" alt="User Image" />
                }else{
                    <img src="@Url.Content("~/img/user.png")" width="30px" height="30px">
                }
                
                <a class="logout_item" href="@Url.Action("Logout", "Login")">
                    <i class='app-menu__icon bx bx-log-out '></i>
                </a>
            </div>

        </div>
    </header>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <img class="logoCompany" src="@Url.Content("~/img/logo.png")" height="70" alt="Logo">
        </div>
        <hr>
        <ul class="app-menu ">
            <li>
                <a class="app-menu__item haha" href="#">
                    <i class='app-menu__icon bx bx-tachometer'></i>
                    <span class="">Admin</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item @ViewBag.home" href="/Admin/TrangChuAdmin">
                    <i class='app-menu__icon bx bx-task'></i>
                    <span class="app-menu__label">Dashboard</span>
                </a>
            </li>

            <li>
                <a class="app-menu__item @ViewBag.user" href="/Admin/QuanLyNhanVien">
                    <i class='app-menu__icon bx bx-group'></i><span class="app-menu__label">Quản lý nhân viên</span>
                </a>
            </li>
            @*<li>
                <a class="app-menu__item @ViewBag.services" href="">
                    <i class='app-menu__icon bx bx-clipboard'></i><span class="app-menu__label">Quản lý dịch vụ</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item @ViewBag.money" href="">
                    <i class='app-menu__icon bx bx-clipboard'></i><span class="app-menu__label">Giao Dịch</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item @ViewBag.thongke" href="">
                    <i class='app-menu__icon bx bx-clipboard'></i><span class="app-menu__label">Thống kê</span>
                </a>
            </li>*@
        </ul>
    </aside>
    <main class="app-content ">
        <div class="row">
            <div class="col-md-12">
                <div class="app-title">
                    <ul class="app-breadcrumb breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><b>@ViewBag.Name</b></a></li>
                    </ul>
                    <div id="clock"></div>
                </div>
            </div>
        </div>
        <div class="main-content">
            @RenderBody()
            @RenderSection("scripts", false)
        </div>

    </main>
    <!--dialog_message -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/plugin/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/plugin/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $('#sampleTable').DataTable(); //TimKiem
        //Thời Gian
        function time() {
            var today = new Date();
            var weekday = new Array(7);
            weekday[0] = "Chủ Nhật";
            weekday[1] = "Thứ Hai";
            weekday[2] = "Thứ Ba";
            weekday[3] = "Thứ Tư";
            weekday[4] = "Thứ Năm";
            weekday[5] = "Thứ Sáu";
            weekday[6] = "Thứ Bảy";
            var day = weekday[today.getDay()];
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            nowTime = h + " giờ " + m + " phút " + s + " giây";
            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }
            today = day + ', ' + dd + '/' + mm + '/' + yyyy;
            tmp = '<span class="date"> ' + today + ' - ' + nowTime +
                '</span>';
            document.getElementById("clock").innerHTML = tmp;
            clocktime = setTimeout("time()", "1000", "Javascript");

            function checkTime(i) {
                if (i < 10) {
                    i = "0" + i;
                }
                return i;
            }
        }
    </script>

    <script type="text/javascript">
        var data = {
            labels: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6"],
            datasets: [{
                label: "Dữ liệu đầu tiên",
                fillColor: "rgba(255, 213, 59, 0.767), 212, 59)",
                strokeColor: "rgb(255, 212, 59)",
                pointColor: "rgb(255, 212, 59)",
                pointStrokeColor: "rgb(255, 212, 59)",
                pointHighlightFill: "rgb(255, 212, 59)",
                pointHighlightStroke: "rgb(255, 212, 59)",
                data: [20, 59, 90, 51, 56, 100]
            },
            {
                label: "Dữ liệu kế tiếp",
                fillColor: "rgba(9, 109, 239, 0.651)  ",
                pointColor: "rgb(9, 109, 239)",
                strokeColor: "rgb(9, 109, 239)",
                pointStrokeColor: "rgb(9, 109, 239)",
                pointHighlightFill: "rgb(9, 109, 239)",
                pointHighlightStroke: "rgb(9, 109, 239)",
                data: [48, 48, 49, 39, 86, 10]
            }
            ]
        };
        var ctxb = $("#barChartDemo").get(0).getContext("2d");
        var barChart = new Chart(ctxb).Bar(data);
    </script>


</body>
</html>
