@model IEnumerable<Client_QuanLythueTro.Models.Users>

@{
    ViewData["Title"] = "Quản lý khách hàng";
    Layout = "~/Views/Admin/LayoutAdmin.cshtml";
    ViewBag.guest = "active";
    ViewBag.Name = "Quản lý tài khoản khách hàng";
    ViewBag.title = "Quản lý tải khoản khách hàng";
}

<div class="tab-content">
    @{
        var ktr = TempData["mess"];
        if (ktr == "oke")
        {
            <script>
                swal("Thành công", "Đăng kí tài khoản nhân viên thàn công", "success");
            </script>
        }
    }
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="row" style="padding:10px;">
                 @*       <div class="col-sm-2">
                            <a asp-action="CreateGuest" class="btn btn-success btn-sm">Tạo tài khoản khách hàng</a>
                        </div>*@
                        <div class="col-sm-4">
                            @using (Html.BeginForm("QuanLyKhachHang", "Admin", FormMethod.Post, new { @class = "" }))
                            {
                                <div class="row">
                                    <div class="col-sm-4">
                                        <select class="form-control-sm" name="loai" id="trangThai">
                                            <option>All</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="submit" class="btn btn-success btn-sm" value="Tìm kiếm">
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row" id="printMe">
                            <div class="col-sm-12  table-responsive">
                                <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                    @*//Phần render từng dòng trong C#*@
                                    <thead>
                                        <tr role="row">
                                            @*<th class="sorting" tabindex="0" aria-controls="sampleTable">Hình</th>*@
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable">Mã</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable">Họ tên</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable">Loại khách hàng</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable">Loại tài khoản</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable">SĐT</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable">Email</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable">Status</th>
                                            <th class="sorting">Chức năng</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                @*<td>
                                            <img width="30" height="30" id="imguser-@item.idUser" onchange="GetImgUser('@item.idUser')">

                                            </td>*@
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.idUser)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.hoTen)
                                                </td>
                                                @if (item.idChucVu == "CT")
                                                {
                                                    <td>
                                                        Chủ trọ
                                                    </td>
                                                }
                                                else
                                                {
                                                <td>
                                                    Người thuê
                                                </td>
                                                }

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.idLoaiTK)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.sdtUsers)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.emailUser)
                                                </td>

                                                @if (item.trangThai)
                                                {
                                                    <td>
                                                        Hoạt động
                                                    </td>
                                                }
                                                else
                                                {

                                                    <td>
                                                        Ngưng hoạt động
                                                    </td>
                                                }

                                                <td>
                                                 <a href="/Admin/EditGuest/@item.idUser" class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="">
                                                  <i class="fas fa-edit"></i>
                                                 </a>
                                                <a href="/Admin/DetailUsers/@item.idUser" class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="">
                                                    <i class="fas fa-info-circle"></i>
                                                 </a>
                                                    
                                                </td>


                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    function getLoaiTK() {
        var url = 'https://localhost:7034/api/LoaiTaiKhoans';
        console.log(url)
        fetch(url)
            .then(response => response.json())
            .then(data => {
                var selectElementSearch = document.getElementById('trangThai');
                console.log(data)
                for (var i = 0; i < data.length; i++) {
                    if (data[i].idLoaiTK!="NV")
                    {
                        var option = document.createElement('option');
                        option.value = data[i].idLoaiTK;
                        option.text = data[i].tenLoaiTK;
                        selectElementSearch.add(option);
                    }
                    
                }
            });
    }
    getLoaiTK();
</script>
