@model IEnumerable<Client_QuanLythueTro.Models.Users>
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http
@using Client_QuanLythueTro.APIGateWay;
@{
    ViewData["Title"] = "QuanLyNhanVien";
    Layout = "~/Views/Admin/LayoutAdmin.cshtml";
    ViewBag.user="active";
    ViewBag.Name = "Quản lý nhân viên";
    ViewBag.title = "Quản lý nhân viên";
    var userJson = Context.Session.GetString("user");
    Users users = JsonConvert.DeserializeObject<Users>(userJson);
    APIGateWayUsers callAPI = new APIGateWayUsers();


}

<div class="tab-content">
    @{
        string ktr = (string)TempData["mess"];
        if (ktr == "oke")
        {
            <script>
                swal("Thành công", "Đăng kí tài khoản nhân viên thàn công", "success");
            </script>
        }
    }
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="row" style="padding:10px;">
                        <div class="col-sm-2">
                            <a asp-action="CreateUser" class="btn btn-success btn-sm">Thêm mới</a>
                        </div>
                       <div class="col-sm-4">
                       @using (Html.BeginForm("QuanLyNhanVien", "Admin", FormMethod.Post, new { @class = "" }))
                       {
                            <div class="row">
                                <div class="col-sm-4">
                                        <select class="form-control" name="trangThai">
                                            <option>All</option>
                                            <option>Hoạt động</option>
                                            <option>Ngưng hoạt động</option>
                                        </select>
                                </div>
                                <div class="col-sm-2">
                                    <input type="submit" class="btn btn-success btn-sm" value="Tìm kiếm">
                                </div>
                            </div>
                        }
                        </div>

                    </div>
                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid  no-footer">
                        <div class="row" id="printMe">
                            <div class="col-sm-12  table-responsive">
                                <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                    <thead>
                                        <tr role="row">
                                            @*<th class="sorting" tabindex="0" aria-controls="sampleTable">Hình</th>*@
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable">Mã</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable">Họ tên</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable">Chức vụ</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable">SĐT</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable">Email</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable">Status</th>
                                            <th class="sorting">Chức năng</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                               @* <td>
                                                    <img width="30" height="30" id="imguser-@item.idUser" onchange="GetImgUser('@item.idUser')">

                                                </td>*@
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.idUser)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.hoTen)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.idChucVu)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.sdtUsers)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.emailUser)
                                                </td>
                                            
                                                @if (item.trangThai)
                                                {
                                                    <td>
                                                        Hoạt động
                                                    </td>
                                                }
                                                else
                                                {

                                                    <td>
                                                        Ngưng hoạt động
                                                    </td>
                                                }

                                                  <td>
                                                      @if (item.idUser != users.idUser)
                                                     {
                                                  
                                                        <a href="/Admin/EditUsers/@item.idUser" class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                        <a href="/Admin/DetailUsers/@item.idUser" class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="">
                                                            <i class="fas fa-info-circle"></i>
                                                        </a>
                                                    }
                                                    </td>
                                                
                                                
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>
<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }

</script>



