@model IEnumerable<Client_QuanLythueTro.Models.TinDang>
@{
    ViewData["Title"] = "TrangChuAdmin";
    Layout = "~/Views/Admin/LayoutAdmin.cshtml";
    ViewBag.home = "active";
    ViewBag.Name = "Trang chủ admin";
    List<Users> listKhachHang= (List<Users>)TempData["soKH"];
    List<Users> listNhanVien = (List<Users>)TempData["sonv"];

}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
    #chartContainer {
        width: 100%; 
        height: 500px; 
    }
</style>
<div class="main-content">
    @{
        var ktr = TempData["error"];
        if (ktr == "thanhcong")
        {
            <script>
                swal("Đăng nhập thành công!", "Xin chào", "success");
            </script>
        }
    }
    <div class="tongquan">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <a href="">
                        <div class="stat-card">
                            <div class="stat-card__content">
                                <p class="text-uppercase mb-1 text-muted">KHÁCH HÀNG</p>
                                <h4>Tổng @listKhachHang.Count() account</h4>
                                <div style="font-size:16px">
                                    <span class="text-success font-weight-bold "></span>
                                    <span class="text-muted">Đang được sử dụng</span>
                                </div>
                            </div>
                            <div class="stat-card__icon stat-card__icon--success">
                               <div class="stat-card__icon-circle" style=" background: rgba(0, 123, 255, 0.2);">
                                    <i class="bx bx-user-pin" style="color: rgb(0, 28, 64);"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#idcho">
                        <div class="stat-card">
                            <div class="stat-card__content">
                                <p class="text-uppercase mb-1 text-muted">GÓI TÀI KHOẢN</p>
                                <h4>Tổng @listKhachHang.Where(t=>t.idLoaiTK=="TAC770317").Count() loại kim cương</h4>
                                <div style="font-size:16px">
                                    <span class="text-success font-weight-bold "></span>
                                    <span class="text-muted"> Được đăng kí</span>
                                </div>
                            </div>
                            <div class="stat-card__icon stat-card__icon--success">
                                <div class="stat-card__icon-circle" style=" background: rgba(0, 123, 255, 0.2);">
                                    <i class="fa fa-dolly" style="color: rgb(0, 28, 64);"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#idcho">
                        <div class="stat-card">
                            <div class="stat-card__content">
                                <p class="text-uppercase mb-1 text-muted">GÓI TÀI KHOẢN</p>
                                <h4>Tổng @listKhachHang.Where(t=>t.idLoaiTK=="TAC9237205").Count() loại VIP</h4>
                                <div style="font-size:16px">
                                    <span class="text-success font-weight-bold "></span>
                                    <span class="text-muted"> Đang đăng kí</span>
                                </div>
                            </div>
                            <div class="stat-card__icon stat-card__icon--success">
                                <div class="stat-card__icon-circle" style=" background: rgba(0, 123, 255, 0.2);">
                                    <i class="fa fa-dolly" style="color: rgb(0, 28, 64);"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#idcho">
                        <div class="stat-card">
                            <div class="stat-card__content">
                                <p class="text-uppercase mb-1 text-muted">NHÂN VIÊN</p>
                                <h4>Tổng @listNhanVien.Count nhân viên</h4>
                                <div style="font-size:16px">
                                    <span class="text-success font-weight-bold "></span>
                                    <span class="text-muted"> Đang hoạt động</span>
                                </div>
                            </div>
                            <div class="stat-card__icon stat-card__icon--success">
                                <div class="stat-card__icon-circle" style=" background: rgba(0, 123, 255, 0.2);">
                                    <i class="fa fa-dolly" style="color: rgb(0, 28, 64);"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="">
                        <div class="stat-card">
                            <div class="stat-card__content">
                                <p class="text-uppercase mb-1 text-muted">TIN ĐĂNG</p>
                                <h4>Tổng @Model.Count() đăng tải</h4>
                                <div style="font-size:16px">
                                    <span class="text-success font-weight-bold ">+ @Model.Where(t=>t.ngayTaoTin.Month==DateTime.Now.Month && t.ngayTaoTin.Date==DateTime.Now.Date).Count() </span>
                                    <span class="text-muted"> tin mới trong ngày</span>
                                </div>
                            </div>
                            <div class="stat-card__icon stat-card__icon--success">
                                <div class="stat-card__icon-circle" style=" background: rgba(0, 123, 255, 0.2);">
                                    <i class="fa fa-truck" style="color: rgb(0, 28, 64);"></i>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-sm-4">
                    <a href="#tinhtrangdl">
                        <div class="stat-card">
                            <div class="stat-card__content">
                                <p class="text-uppercase mb-1 text-muted">DOANH THU</p>
                                <h4>Tổng @Model.Where(t=>t.ngayTaoTin.Month==DateTime.Now.Month).Count() gói</h4>
                                <div style="font-size:16px">
                                    <span class="text-muted">@Model.Where(t=>t.ngayTaoTin.Month==DateTime.Now.Month && t.trangThaiTinDang==false).Count() Sắp hết hạn</span>
                                </div>
                            </div>
                            <div class="stat-card__icon stat-card__icon--success">
                                <div class="stat-card__icon-circle" style="background: rgba(0, 123, 255, 0.2); ">
                                    <i class="fa fa-user-alt" style="color: #007bff;"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                @*<div class="col-sm-4">
                    <a href="#congno">
                        <div class="stat-card">
                            <div class="stat-card__content">
                                <p class="text-uppercase mb-1 text-muted">GÓI TÀI KHOẢN</p>
                                <h4>
                                    2 Gói /h4>
                                    <div style="font-size:16px">
                                        <span class="text-muted">2 Loại</span>
                                    </div>
                            </div>
                            <div class="stat-card__icon stat-card__icon--success">
                                <div class="stat-card__icon-circle" style="background: #CBFAD5; ">
                                    <i class="fa fa-money-bill" style="color: green;"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>*@

               @* <div class="col-sm-4">
                    <a href="">
                        <div class="stat-card">
                            <div class="stat-card__content">
                                <p class="text-uppercase mb-1 text-muted">DOANH THU</p>
                                <h4>doanh thu</h4>
                                <div style="font-size:16px">
                                    <span class="text-muted">Doanh thu tính theo tháng</span>
                                </div>
                            </div>
                            <div class="stat-card__icon stat-card__icon--success">
                                <div class="stat-card__icon-circle" style="background: rgba(0, 123, 255, 0.2); ">
                                    <i class="fa fa-money-check-alt" style="color: #007bff;"></i>
                                </div>
                            </div>
                        </div>
                    </a>
*@
                </div>
            </div>
        </div>
    <div class="tile container-sm">
        <div class="tile-body" id="tile-body">
            <div id="chartContainer">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
   
    <script>
        function getMonthFromDateTime(dateTime) {
            const date = new Date(dateTime);
            return date.getMonth() + 1; 
        }
      

        document.addEventListener('DOMContentLoaded', function () {
            const ctx = document.getElementById('myChart');
            const currentMonth = (new Date()).getMonth() + 1; 
            console.log("thang hien tai: " + currentMonth)

            fetch('https://localhost:7034/api/TinDang')
                .then(response => response.json())
                .then(data => {
                    const filteredData = {
                        'Thường': data.filter(item => getMonthFromDateTime(item.ngayKetThuc) === currentMonth && item.idDichVu === 'NODV').length,
                        'VIP1': data.filter(item => getMonthFromDateTime(item.ngayKetThuc) === currentMonth && item.idDichVu === 'DV20001').length,
                        'VIP2': data.filter(item => getMonthFromDateTime(item.ngayKetThuc) === currentMonth && item.idDichVu === 'DV29859').length,
                        'VIP3': data.filter(item => getMonthFromDateTime(item.ngayKetThuc) === currentMonth && item.idDichVu === 'DV37196').length
                    };
                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: Object.keys(filteredData),
                            datasets: [
                                {
                                    label: '#Số lượng gói tin trong tháng',
                                    data: Object.values(filteredData),
                                    borderWidth: 1
                                }
                            ]
                        },
                        options: {
                            indexAxis: 'x',
                            maintainAspectRatio: false,
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        });



        
    </script>
    </div>
