@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http
@{
    var userJson = Context.Session.GetString("user");
    Users user = null;
    if (userJson != null)
    {
        user = JsonConvert.DeserializeObject<Users>(userJson);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
 <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- icon boxicons  -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <link href="~/css/layoutct.css" rel="stylesheet" />

</head>
<body>
    @*navigation*@
    <!-- header section starts  -->
    <header class="header bg-light">
        <div class="container d-flex justify-content-around">
            <div class="p-2">
                <a class="navbar-brand" href="">
                    <img src="/img/HOME180.png" height="40px" width="90px" />

                </a>
            </div>
            <div class="p-2 navbar navbar-expand-sm bg-light justify-content-center">
                <ul class="navbar-nav">
                    @{
                        if(user == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-primary" href="~/Login/LoginCustomer"><i class='bx bx-user'></i> Đăng nhập</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-info" href="~/Login/Register"><i class='bx bxs-user-plus'></i> Đăng ký</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-muted" onclick="alert('Vui lòng đăng nhập để xem được nội dung này!');" href="#"><i class='bx bx-heart'></i> Yêu thích</a>
                            </li>
                            <li class="nav-item">
                                <a type="button" class="btn btn-danger" onclick="alert('Vui lòng đăng nhập để tạo tin đăng!');" href="#"><i class='bx bx-plus'></i> Đăng tin mới</a>
                            </li>
                        }
                        else
                        {
                            <input value="@user.idUser" id="idUser" style="visibility:hidden" />
                            <li class=" nav-item">
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle user-wrapper" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        @if (string.IsNullOrEmpty(user.hinhAnh))
                                        {
                                            <img id="imgUser" alt="User Image" width="37px" height="37px" />

                                        }
                                        else
                                        {
                                            <img id="image" width="37px" height="37px">

                                        }
                                        <b style="">Xin chào, @user.hoTen</b>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" style="z-index: 1030;">
                                    @if(user.idChucVu=="CT")
                                        {
                                            <li><a class="dropdown-item" href="~/ChuChoThue/QLTinDangPT/@user.idUser">Quản lý tài khoản</a></li>
                                        }
                                        else
                                        {
                                         <li>
                                         <a class="dropdown-item" asp-controller="NguoiThue" asp-action="QuanLyTinDang" asp-route-idUser="@user.idUser">Xem tin đăng của tôi</a>
                                         </li>
                                        }
                                       <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="@Url.Action("Logout", "ChuChoThue")">Đăng xuất</a></li>
                                    </ul>
                                </div>
                                
                            </li>
                            
                            
                            <li class="nav-item">
                                <a type="button" class="btn btn-danger" href="/ChuChoThue/CreateTinDangPT"><i class='bx bx-plus'></i> Đăng tin mới</a>
                            </li>
                        }
                    }
                    
                </ul>
                
            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top justify-content-center" style="background: #0E566A">
        <div class="container">
            <a class="navbar-brand font-weight-bold" href="#" style="visibility:hidden">Menu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="menutab @ViewBag.tc" aria-current="page" href="~/ChuChoThue/IndexTinDangPT">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="menutab" href="#">Cho thuê phòng trọ</a>
                    </li>
                    <li class="nav-item">
                        <a class="menutab" href="#">Nhà cho thuê</a>
                    </li>
                    <li class="nav-item">
                        <a class="menutab" href="#">Cho thuê căn hộ</a>
                    </li>
                    <li class="nav-item">
                        <a class="menutab" href="#">Tìm người ở ghép</a>
                    </li>
                    <li class="nav-item">
                        <a class="menutab" href="#">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="menutab @ViewBag.services" href="~/ChuChoThue/BangGiaDichVu">Bảng giá dịch vụ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- header section ends -->
    <div class="container">
            @{
                List<Breadcrumb> listLink = ViewBag.Breadcrumbs;
            }
            <main role="main" class="ml-sm-auto col-lg-10" style="margin-top: 20px;">
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        @if(listLink !=null)
                        {
                            foreach (var breadcrumb in listLink)
                            {
                                <li class="breadcrumb-item">
                                    @if (!string.IsNullOrEmpty(breadcrumb.Url))
                                    {
                                        <a href="@breadcrumb.Url">@breadcrumb.Label</a>
                                    }
                                    else
                                    {
                                        <span>@breadcrumb.Label</span>
                                    }
                                </li>
                            }
                            <li class="breadcrumb-item active" aria-current="page">@ViewBag.title</li>
                        }
                    </ol>
                </nav>
        @RenderBody()
    </div>
     <footer class="border-top footer text-muted">
       
        <section class="pr-company">
                <div class="section-pr">
                    <div class="row">
                        <div class="pr-left col-sm-3">
                            <h4><strong>VÌ SAO CHỌN</strong></h4>
                            <h2><STRONG>HOME180 ?!</STRONG></h2>
                        </div>
                        <div class="pr-right col-sm-8">
                            <div class="row">
                                <div class="col-pr">
                                    <div class="col-text">
                                        <h5>
                                            1. Một trong những website nổi bật
                                        </H5>
                                        <p>
                                            HOME180 tự hào là trang web đứng top google về các từ khóa cho dịch vụ thuê trọ.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-pr">
                                    <div class="col-text">
                                        <h5>
                                            2. Chi phí thấp, hiệu quả tối đa
                                        </h5>
                                        <p>
                                            Các tin đăng trên website sẽ tiếp cận được với nhiều khách hàng hơn, do đó giao dịch nhanh hơn, tiết kiệm chi phí hơn
                                        </p>
                                    </div>
                                </div>
                                <div class="col-pr">
                                    <div class="col-text">
                                        <h5>
                                            3. Tiện lợi nhanh chóng
                                        </h5>
                                        <p>
                                            Website giúp cho việc thuê - tìm trọ trở nên tiện lợi nhanh chóng
                                        </p>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">
                    <div class="footer-row clearfix">
                        <div class="footer-col first">
                            <img class="footer-logo" src="/img/HOME180.png" />
                            <p style="line-height: 1.3;padding-top: 10px;"><b>HOME180</b> tự hào có lượng dữ liệu bài đăng lớn nhất trong lĩnh vực cho thuê phòng trọ.</p>
                        </div>
                        <div class="footer-col">
                            <span class="footer-col-title">Về HOME180</span>
                            <ul class="footer-menu">
                                <li>
                                    <a rel="nofollow" href="/gioi-thieu" previewlistener="true">Giới thiệu</a>
                                </li>
                                <li><a rel="nofollow" href="/blog.html" previewlistener="true">Blog</a>
                                </li>
                                <li><a rel="nofollow" href="/quy-dinh-su-dung" previewlistener="true">Quy định sử dụng</a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="/chinh-sach-bao-mat" previewlistener="true">Chính sách bảo mật</a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="/lien-he" previewlistener="true">Liên hệ</a>
                                </li>
                            </ul>
                        </div><div class="footer-col">
                            <span class="footer-col-title">Hỗ trợ khách hàng</span>
                            <ul class="footer-menu">
                                <li>
                                    <a rel="nofollow" href="/huong-dan-su-dung" previewlistener="true">Hướng dẫn đăng tin</a>
                                </li>
                                <li><a rel="nofollow" href="/bang-gia-dich-vu" previewlistener="true">Bảng giá dịch vụ</a>
                                </li>
                                <li><a rel="nofollow" href="/quy-dinh-dang-tin" previewlistener="true">Quy định đăng tin</a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="/chinh-sach-giai-quyet-khieu-nai" previewlistener="true">Giải quyết khiếu nại</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <span class="footer-col-title">Liên hệ với chúng tôi</span>
                              <ul class="footer-menu">
                                <li>
                                    <b>Tổng đài CSKH: </b>09176861101
                                </li>
                                <li><b>Email: </b>cskh.home180@gmail.com
                                </li>
                                <li><b>Địa chỉ: </b>Số 247 Mai Chí Thọ, Phường An Phú, Quận 2, Tp. Hồ Chí Minh
                                </li>
                            </ul>
                 
                </div>
            </div>
        </div>
            </div>
    </footer>


    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        function get_image() {
            var id = document.getElementById("idUsers").value;
            console.log(id)
            url = "https://localhost:7034/api/Users/GetImage?id=" + id;
            fetch(url)
                .then(function (response) {
                    return response.blob();
                })
                .then(function (data) {
                    console.log(data);
                    var img = document.getElementById("image");
                    img.src = URL.createObjectURL(data);
                })
                .catch(function (error) {
                    console.log("Error: " + error);
                });
        }

        get_image();
    </script>
</body>
</html>
