@using Client_QuanLythueTro.APIGateWay;
@model IEnumerable<Client_QuanLythueTro.Models.TinDang>
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/ChuChoThue/Layout/_LayoutChuChoThue.cshtml";
    ViewBag.tc = "active";
    TinDang_PhongTro_GateWay callTinDangPT = new TinDang_PhongTro_GateWay();
}

<style>
    .scale-img {
        position: relative;
        overflow: hidden;
    }

        .scale-img img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .card-body {
        text-align: left;
    }

    .images-number {
        position: absolute;
        bottom: 3px;
        left: 5px;
        background: rgba(0,0,0,.5);
        color: #fff;
        padding: 3px 5px;
        border-radius: 3px;
        font-size: .9rem;
        pointer-events: none;
    }

    .post-save {
        position: absolute;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,.5);
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        cursor: pointer;
    }

    .card-footer {
        margin-bottom: 0px;
        color: #8a8d91;
        justify-content: space-between;
        display: flex;
    }

    .name-author {
        padding-top: 5px;
    }

    .section {
        text-align: left;
        margin-bottom: 20px;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #dedede;
        border-radius: 8px;
    }

    .list-group {
        cursor: pointer;
    }

    .dropdown {
        width: 20%;
    }

        .dropdown button {
            width: 100%;
        }
</style>

<div class="text-center bg-light">
    <div class="d-inline-flex justify-content-center bg-warning mt-2" style="width: 100%;">
        <div class="p-2 dropdown">
            <button class="btn btn-light mb-0">Nhà trọ, phòng trọ</button>
        </div>
        <div class="p-2 dropdown">
            <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">
                Địa điểm
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Link 1</a></li>
                <li><a class="dropdown-item" href="#">Link 2</a></li>
                <li><a class="dropdown-item" href="#">Link 3</a></li>
            </ul>
        </div>
        <div class="p-2 dropdown">
            <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">
                Giá thuê
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Link 1</a></li>
                <li><a class="dropdown-item" href="#">Link 2</a></li>
                <li><a class="dropdown-item" href="#">Link 3</a></li>
            </ul>
        </div>
        <div class="p-2 dropdown">
            <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">
                Diện tích
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Link 1</a></li>
                <li><a class="dropdown-item" href="#">Link 2</a></li>
                <li><a class="dropdown-item" href="#">Link 3</a></li>
            </ul>
        </div>
        <div class="p-2 dropdown">
            <button type="button" class="btn btn-primary">
                Tìm kiếm
            </button>
        </div>
    </div>
    <h1 class="display-4">Welcome to Home 180</h1>
    <p>Kênh thông tin phòng trọ đứng thứ #12 tại Việt nam</p>
    <div class="d-flex justify-content-center mb-3">
        <div class="card m-2" style="width:230px">
            <img class="card-img-top" src="~/img/TPHCM.jpg" alt="Card image" style="width:100%; height: 120px">
            <div class="card-body">
                <h6 class="card-title">Thành phố Hồ Chí Minh</h6>
            </div>
        </div>
        <div class="card m-2" style="width:230px">
            <img class="card-img-top" src="~/img/hanoi.jpg" alt="Card image" style="width:100%; height: 120px">
            <div class="card-body">
                <h6 class="card-title">Thành phố Hà Nội</h6>
            </div>
        </div>
        <div class="card m-2" style="width:230px">
            <img class="card-img-top" src="~/img/dn.jpg" alt="Card image" style="width:100%; height: 120px">
            <div class="card-body">
                <h6 class="card-title">Thành phố Đà Nẵng</h6>
            </div>
        </div>
    </div>

    <div class="row g-0">
        <div class="col-sm-8 m-2 rounded" style="border: 1px solid #dedede;">
            <h5>Tin nổi bật</h5>
            <h6>6/190 bài đăng được hiển thị</h6>
            <ul class="list-group list-unstyled">
                @foreach (var item in Model)
                {
                    if (!item.trangThaiTinDang)
                    {
                        List<string> imgList = callTinDangPT.ListImages(item.idTinDang);
                        <li onclick="window.location.assign('/ChuChoThue/DetailTinDangPT/@item.idTinDang')">
                            <div class="card text-black" style="max-width: 100%;">
                                <div class="row g-0">
                                    <div class="col-md-4 scale-img">
                                        <img src="@imgList[0]" class="img-fluid rounded-start m-0" alt="...">
                                        <span class="images-number">18 ảnh</span>
                                        <span class="post-save js-btn-save" data-post-id="603145" title="Lưu tin này"><i class='bx bx-heart' style="font-size:30px; color:white"></i></span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.tieuDe)</h5>
                                            <p class="card-text text-truncate">@Html.DisplayFor(modelItem => item.moTa)</p>
                                            <p class="card-text">@Html.DisplayFor(modelItem => item.diaChi)</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                            <p class="card-footer">
                                                <span class="name-author">
                                                    <img src="~/img/user.png" class="img-fluid rounded-circle m-0" height="30px" width="30px" />
                                                    @Html.DisplayFor(modelItem => item.nguoiLienHe)
                                                </span>

                                                <span class="btn-info-author">
                                                    <button type="button" class="btn btn-info">@Html.DisplayFor(modelItem => item.sdtNguoiLienHe)</button>
                                                    <button type="button" class="btn btn-outline-primary">Zalo</button>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col-sm-3 m-2 rounded">
            <section class="section">
                <h5>Theo giá thuê</h5>
                <ul class="list-group list-group-flush list-group-horizontal">
                    <li class="list-group-item">Dưới 1 triệu</li>
                    <li class="list-group-item">Từ 1 - 3 triệu</li>
                </ul>
                <ul class="list-group list-group-flush list-group-horizontal">
                    <li class="list-group-item">Từ 3 - 4 triệu</li>
                    <li class="list-group-item">Từ 4 - 5 triệu</li>
                </ul>
                <ul class="list-group list-group-flush list-group-horizontal">
                    <li class="list-group-item">Từ 5 - 6 triệu</li>
                    <li class="list-group-item">Trên 6 triệu</li>
                </ul>
            </section>
            <section class="section">
                <h5>Theo giá thuê</h5>
                <ul class="list-group list-group-flush list-group-horizontal">
                    <li class="list-group-item">Dưới 1 triệu</li>
                    <li class="list-group-item">Từ 1 - 3 triệu</li>
                </ul>
                <ul class="list-group list-group-flush list-group-horizontal">
                    <li class="list-group-item">Từ 3 - 4 triệu</li>
                    <li class="list-group-item">Từ 4 - 5 triệu</li>
                </ul>
                <ul class="list-group list-group-flush list-group-horizontal">
                    <li class="list-group-item">Từ 5 - 6 triệu</li>
                    <li class="list-group-item">Trên 6 triệu</li>
                </ul>
            </section>
            <section class="section">
                <h5>Theo giá thuê</h5>
                <ul class="list-group list-group-flush list-group-horizontal">
                    <li class="list-group-item">Dưới 1 triệu</li>
                    <li class="list-group-item">Từ 1 - 3 triệu</li>
                </ul>
                <ul class="list-group list-group-flush list-group-horizontal">
                    <li class="list-group-item">Từ 3 - 4 triệu</li>
                    <li class="list-group-item">Từ 4 - 5 triệu</li>
                </ul>
                <ul class="list-group list-group-flush list-group-horizontal">
                    <li class="list-group-item">Từ 5 - 6 triệu</li>
                    <li class="list-group-item">Trên 6 triệu</li>
                </ul>
            </section>
            <section class="section">
                <h5>Tin mới đăng</h5>
                <ul class="list-group list-unstyled">
                    <li class="">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4 scale-img">
                                    <img src="~/img/TPHCM.jpg" class="img-fluid rounded m-0" height="100%" width="100%" />
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <p class="card-title text-danger text-truncate">Tòa nhà 7 tầng sàn 115m2 - 425 mặt phố Nguyễn Khang cho thuê MB&VP</p>
                                        <p class="card-text text-secondary">3triệu/tháng</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4 scale-img">
                                    <img src="~/img/TPHCM.jpg" class="img-fluid rounded m-0" height="100%" width="100%" />
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <p class="card-title text-danger text-truncate">Tòa nhà 7 tầng sàn 115m2 - 425 mặt phố Nguyễn Khang cho thuê MB&VP</p>
                                        <p class="card-text text-secondary">3triệu/tháng</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4 scale-img">
                                    <img src="~/img/TPHCM.jpg" class="img-fluid rounded m-0" height="100%" width="100%" />
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <p class="card-title text-danger text-truncate">Tòa nhà 7 tầng sàn 115m2 - 425 mặt phố Nguyễn Khang cho thuê MB&VP</p>
                                        <p class="card-text text-secondary">3triệu/tháng</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </section>
        </div>
    </div>

</div>
