@model IEnumerable<Client_QuanLythueTro.Models.LichXemPhong>
@using Client_QuanLythueTro.APIGateWay
@{
    ViewData["Title"] = "QLLichXemPhong";
    Layout = "~/Views/ChuChoThue/Layout/_LayoutCaNhan.cshtml";
    ViewBag.CurrentPage = "Quản lý lịch xem phòng";
    TinDang_PhongTro_GateWay _callapi = new TinDang_PhongTro_GateWay();
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js"></script>

@{
    // alert includ icons: question, info, success, error, warning
    //footer: '<a href="">Why do I have this issue?</a>'
    var checkMessage = TempData["AlertMessage"];
    if (checkMessage == "successful")
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Thành công',
                text: 'Xóa lịch xem thành công!'
            })
        </script>

    }
    if (checkMessage == "editsuccessful")
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Thành công',
                text: 'Lịch xem phòng đã lưu thành công!'
            })
        </script>

    }
}

<script>

    function onDeleteLichXem(id) {
        var confirmation = confirm("Bạn có chắc chắn muốn xóa không?");
        if (confirmation) {
            var formData = new FormData();
            formData.append('id', id);

            $.ajax({
                url: '/ChuChoThue/DeleteLichXem',
                type: "POST",
                contentType: false,
                processData: false,
                data: formData,
                async: false,
                success: function(msg){
                    alert('Xóa thành công lịch xem');
                },
                error: function (err) {
                    alert('Chỉ được xóa lịch xem trước 24h tính từ ngày xem!');
                }
            });
        }
    }
</script>

<div class="row">
    <div class="col-sm-5">
        <h3>Lịch xem phòng</h3>
    </div>
    @*<div class="col-sm-2">
        <a type="button" class="btn btn-primary" href="/ChuChoThue/CreateLichXem"><i class='bx bx-plus'></i> Tạo lịch xem mới</a>
    </div>*@
</div>
<hr />
<div class="row">
    <div class="col-sm-12 table-responsive">
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tin đăng</th>
                    <th>Người xem</th>
                    <th>SĐT</th>
                    <th>Ngày xem</th>
                    <th>Trạng thái</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int stt = 0;
                }
                @foreach (var item in Model)
                {
                    stt = stt + 1;
                    <tr>
                        <td>@Html.DisplayFor(modelItem => stt)</td>
                        
                        <td>
                            @{
                                if (item.idTinDang != null)
                                {
                                    var tinDang = _callapi.GetTinDang(item.idTinDang);
                                    <span>@tinDang.tieuDe</span>
                                }
                                else
                                {
                                    <span>Lịch xem không có tiêu đề</span>
                                }
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.nguoiXem)</td>
                        <td>@Html.DisplayFor(modelItem => item.sdtNguoiXem)</td>
                        <td>@Html.DisplayFor(modelItem => item.ngayXem)</td>
                        <td>
                            @if (item.trangThai)
                            {
                                <span class="badge bg-success">Đã duyệt</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Chưa duyệt</span>
                            }
                        </td>
                        <td style="text-align:center">
                            <a href="/ChuChoThue/EditLichXem/@item.idLichXem" class="btn btn-primary" ata-toggle="tooltip" title="Edit">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="" onclick="onDeleteLichXem('@item.idLichXem')" class="btn btn-outline-danger btn-sm" title="Delete">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>STT</th>
                    <th>Tin đăng</th>
                    <th>Người xem</th>
                    <th>SĐT</th>
                    <th>Ngày xem</th>
                    <th>Trạng thái</th>
                    <th>Chức năng</th>
                </tr>
            </tfoot>
        </table>

    </div>
</div>

<script>
    new DataTable('#example');
    
</script>